.cart .order{
    margin-left: 60px;
}

.cart .counter {
    font-size: 23px;
    color: #f0c14b;
    margin-left: 5px;
}

.cart .total{
    color: #b12704;
    font-size: 17px;
    font-weight: 700;
    line-height: 5;
}